#EXTENSIONS
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.srt
*.DS_Store
*.bat
*.db

#IDE
.idea/
*.swp
*.iml
*.komodoproject
*.sublime-*

#NODEJS
npm-debug.log

#PROJECT
node_modules/
src/bower_components/
build/
dist/
cache/
src/app/css/app.css
src/styles/css/themes/
docs/
/nbproject/
.vscode/

package-lock.json